.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    background: linear-gradient(to bottom, #f6fbf9 0%, white 100%);
    margin-top: -.3rem;

}

.wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 350px;
    height: inherit;
    background: white;
    margin: 0.7rem;
    border-radius: 15px;
    color: rgb(72, 67, 67);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(171, 171, 171, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(171, 171, 171, 1);
    box-shadow: 0px 0px 8px 0px rgba(171, 171, 171, 1);
}

.item p {
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
}

.infoSec {
    width: 100%;
    height: 4rem;
    background: #f2f6f5;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
}

.item:nth-child(2) {
    height: inherit;
    margin: 1rem;
}

.item:nth-child(4) {
    height: 100%;
    margin: 0.9rem;
}

.item:nth-child(7) {
    margin: 0.8rem;
}

.item:nth-child(8) {
    margin: 1.5rem;
}

.item:nth-child(9) {
    margin: 1.3rem;
}

.item:nth-child(6) {
    transform: rotate(1.5deg);
}

.item:last-child {
    width: 400px;
    height: inherit;
}

.item:nth-child(9) {
    width: 350px;
}

.imgSec {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.name {
    padding-left: 0.5rem;
}

.socialmedia {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.imgContainer {
    width: 3.5rem;
    height: 3.5rem;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.alphabet {
    text-shadow: 0 0 3px #c12727;
}

.testimonialContainer {
    height: 11rem;
    background: #f6fbf9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(105, 105, 105);
    clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
}

.testimonial {
    color: #333333;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 3px #c12727;
    text-align: center;
}

.personName {
    font-size: 15px;
    font-weight: 700;
}

.designation {
    font-size: 13px;
    font-weight: 600;
}

@media only screen and (max-width: 1295px) {
    .wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 960px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 856px) {
    .item {
        width: 45%;
        margin: 0.4rem;
    }
}

@media only screen and (max-width: 790px) {
    .item {
        width: 40%;
        margin: 0.6rem;
    }
}

@media only screen and (max-width: 690px) {
    .item {
        width: 70%;
        margin: 0.5rem;
    }
}

@media only screen and (max-width: 550px) {
    .item {
        width: 90%;
    }
}


@media only screen and (max-width: 635px) {
    .testimonial {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 490px) {
    .testimonial {
        font-size: 1.5rem;
    }
}



// .title {
//     position: relative;
//     width: 23rem;
//     padding: 0 1rem;
//     font-size: 2rem;
//     background: rgb(159, 159, 159);
//     color: ghostwhite;
//     margin: 0 auto 4rem auto;
//     text-align: center;
//     text-transform: uppercase;
//     transform: rotate(-2.5deg);
// }

// .title::before {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 100%;
//     top: 3%;
//     left: 0;
//     z-index: -2;
//     background: rgb(19, 19, 19);
//     transform: rotate(2.5deg);
// }