* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

/* .App {
    max-width: 100%;
} */