.smoothScroll{
    display: flex;
    height:100%;
    justify-content: center;
    align-items: flex-end;
    position: relative;

}
.itm{
    width:35px;
    border-radius:20px;
    margin-bottom: 10rem;
    height:55px;
    border:3px solid black;
    position: relative;
}
.circle{
    position: absolute;
    left:38%;
    top:15%;
    transform: translateX(-38%,-15%);
    border-radius: 50%;
    width:7px;
    height: 7px;
    background: black;
    animation: cir 2s ease-in-out infinite;
}
@keyframes cir{
    0%{
        top:15%;
        transform: translateY(-15%);
        opacity: 1;
    }
    60%{
        opacity: .8;
    }
    100%{
        top:85%;
        transform: translateY(-85%);
        opacity: 0;
    }

}
@media only screen and (max-width:650px) {
    .itm{
        margin-bottom: 12rem;
    }
 }
